.container-header {
  background-color: var(--default-color);
}
.btnSearch {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  width: 100%;
  min-width: 500px;
}
