@use 'sass:color'; // Import thư viện color

$primary-color: #007bff;
$primary-color-lighter: color.adjust($primary-color, $lightness: 15%);
$default-color: #c12530;

:root {
  --primary-color: #{$primary-color};
  --default-color: #{$default-color};
  --primary-color-lighter: #{$primary-color-lighter};
  --text-color: #000;
}
/* Làm thanh cuộn nhỏ hơn trên toàn trang */
::-webkit-scrollbar {
  width: 6px; /* Độ rộng thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: color.adjust($primary-color, $lightness: 40%); /* Màu thanh cuộn */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu khi hover */
}
.MuiDataGrid-cell {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.Button_Hover {
  transition:
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
.Button_Hover:hover {
  cursor: pointer;
  transform: scale(1.05); /* Phóng to lên 1.5 lần */
  transition: transform 0.35s ease-in-out; /* Hiệu ứng mượt mà */
  // box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.css-1e4exq2 {
  border: none !important;
}
.css-1tblnla-MuiButtonBase-root-MuiTab-root:hover {
  color: #c12530;
}
